header {
  width: 100%;
  height: 100px;
  background: lightgray;
  padding: 10px;
}

.logo {
  background: darkcyan;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

main {
  width: 100vw;
  padding: 80px;
}

p {
  text-align: justify;
  font-size: 40px;
  line-height: 50px;
}

.sec-1 {
  width: 100%;
  height: 100px;
  background: lightskyblue;
}
.sec-2 {
  width: 100%;
  height: 100px;
  background: lightseagreen;
}
.sec-3 {
  width: 100%;
  height: 100px;
  background: sandybrown;
}
.sec-4 {
  width: 100%;
  height: 100px;
  background: yellow;
}
